<input type="hidden" id="game-id" value="<%= @game.id %>">
<div class="container">
    <div id="game"></div>
    <!-- <div class="col-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Online Users
            </div>
            <div class="panel-body" id="game-users">
            </div>
        </div>
    </div> -->
</div>
<div class="">
    <%= link "Back to lobby", to: game_path(@conn, :index) %>
</div>
