<h2>Show game</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @game.name %>
  </li>

  <li>
    <strong>Full:</strong>
    <%= @game.full %>
  </li>

  <li>
    <strong>Winner:</strong>
    <%= @game.winner %>
  </li>

</ul>

<%= link "Edit", to: game_path(@conn, :edit, @game) %>
<%= link "Back", to: game_path(@conn, :index) %>
